$color-title: rgb(139, 199, 226);
$color-body: rgb(68, 66, 66);
$bg-color: rgb(226, 235, 248);
$min-width: 720px;
@import "../../basic.scss";

.container{
    display: grid;
    gap: 1em;
    padding: 4em 2em;
    margin: 0 auto;
    max-width: 1200px;
    background-color: $bg-color;
    @media (min-width: $min-width){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,auto);
    }
    
    &::before{
        content: "";
        display: block;
        background-image: url(http://placekitten.com/800/400);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 400px;
        @media (min-width: $min-width){
            grid-row: 1 / span 2;
            height: 100%;
        }
    }
    .main-header,.container-date{
        @media (min-width: $min-width){
            grid-column: 2 / span 1;
        }
    }
    .container-date{
        display: flex;
        column-gap: .5em;
        height: 80px;
        div{
            flex-basis: 80px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

           
            background-color: black;
            color: white;
            font-size: 2em;
            .number{
                letter-spacing: .02em;
            }
            span{
                font-size: .3em;
                text-transform: uppercase;
            }
        }
    }
    .title{
        color: $color-title;
        text-transform: uppercase;
    }
    .subtitle{
        font-size: 1em;
    }
    p{
        color: $color-body;
    }
}